 .App {
 
  width: 980px;
  margin:0em auto;
 
}

 
.App-header {
  /* background-color: #282c34; */
  text-align: center;
  color: white;
  padding:2em 0em;
  font-size:2em;
  font-weight:normal;
  color: #282c34;
}



 .ul-class2{
  padding:2.3em 2.3em;  


} 

.ul-class{

  padding:2.7em 2.7em 

 
} 


.li-class{
 
  
    background:silver; 
    display: inline-block; 
    width: 150px;
    height: 150px;
    float: left;

    margin-left: 3.5em;
    margin-bottom:0.4em;
    text-align: center;
} 

.li-class p{
  padding-top:1.1em;


}

img{
  padding-top:4em;

  border-radius: 70%;

  padding: 20px;


}

.li-class2{
 
  
  background:silver; 
  display: inline-block; 
  width: 150px;
  height: 150px;
  float: left;
  margin-left: 3.5em;
  margin-bottom:0.4em;
  text-align: center;
} 

.li-class2 p{
  padding-top:1.1em;


}


.main{

  display: flex;
  flex-direction: column;


}

.button{
 
 
 padding-left:620px; 
 font-size:1.1em; 
}
 .check{
  background:blue;
  padding-left:1.7em;;
}
.chat-ok{
  
  font-size: 1.6em;
  padding-left: 2em;
  margin-bottom: -1em;

}